server:
  port: 9001

spring:
  application:
    name: igodating-geodata-service
  datasource:
    hikari:
      minimum-idle: 1
      maximum-pool-size: 50
    url: jdbc:postgresql://localhost:5432/igodating
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        default_schema: geodata
        dialect: org.hibernate.dialect.PostgreSQLDialect